<%= form_for @userparam, url: userparams_path do |f| %>



<p><strong>Ім'я:</strong></p><%= f.text_field :firstname%><br>
<p><strong>Прізвище</strong></p><%= f.text_field :lastname%><br>
<p><strong>Вік</strong></p><%= f.text_field :age%><br>
<%= f.submit "Створити" %>
	
<% end %>