
<hr>
<%= link_to "Назад", root_path %><br />
<hr>
<h1>Це твій профіль</h1>
<%= image_tag @userparam.avatar.url(:thumb) %> <br>
Ім'я: <%= @userparam.firstname %><br />
Фамілія:<%= @userparam.lastname %><br />
Вік: <%= @userparam.age %><br />

<%= link_to "Редагувати", edit_userparam_path(current_user.id) %><br />

