<h1>Фанфік</h1>
<p>Якщо ти хочеш почитати цікаві історії або написати свою, то реєструйся і слідкуй за оновленнями</p>
<hr>
<%= link_to "Вхід", new_user_session_path %><br />
<%= link_to "Вихід", destroy_user_session_path, method: :delete %>
<hr>
<%= link_to "Створити історію", new_write_path %><br />
<% if @swrite == [] %>
<% else %>
    <% @write.each do |write| %>
      <strong>Автор: </strong>
    	<%= write.user.email %>  <br />
    	<strong>Назва: </strong> <br>
   		<%= write.title %><br/>
   		<strong>Перший головний герой: </strong> <br>
   		<%= write.firstheroy %><br/>
   		<strong>Другий головний герой: </strong> <br>
   		<%= write.secondheroy %><br/>
   		<strong>Опис: </strong> <br>
    	<%= write.aboutstory %> <br>
		<%= link_to "Читати більше", write_path(write.id) %>
   		<hr>
    <% end %>
<% end %>