<%= form_for @write, url: write_path(@write.id) do |f| %>
<% if @write.errors.any? %>
  <div id="error_explanation"> 
    <h2><%= pluralize(@write.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @write.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<p>Назва</p>
<%= f.text_field :title%><br>
<p>Жанр</p> <%= f.select :genre_id  , Genre.all.collect {|p| [ p.name, p.id ]}, :prompt => 'Оберіть жанр'%> <br>
<p>Перший головний герой</p>
<%= f.text_field :firstheroy%><br>
<p>Другий головний герой</p>
<%= f.text_field :secondheroy%><br>
<p>Опис</p>
<%= f.text_area :aboutstory, size: "60x10"%><br>
<p>Текст</p>
<%= f.text_area :body, size: "150x80"%><br>

<%= f.submit "Зберегти" %>
	
<% end %>